body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center; 
  margin: 20px 0; 
  font-size: 2.5em; 
  color: #181818; 
  cursor: pointer;
}

.news-container {
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center; 
}

.news-headlines h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #222222;
  border-bottom: 2px solid #828181;
  padding-bottom: 10px;
  text-align: left; 
}

.news-headlines ul {
  list-style: none;
  padding: 0;
}

.headline-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.headline-item:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
}

.headline-item .headline-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.headline-item .headline-content {
  flex-grow: 1;
  text-align: left;
}

.headline-item h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #353535;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headline-item:hover h3 {
  white-space: normal;
}

.headline-item p {
  margin: 0;
  color: #777;
}

.error {
  color: red;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  margin-top: 0;
  color: #000000;
}

.modal-content p {
  color: #555;
}

.read-more {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

.read-more a {
  color: #007bff;
  text-decoration: none;
}

.read-more a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #006aff;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.navbar button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar button:hover {
  color: #000000;
}
